@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import 'prismjs/themes/prism-okaidia.css'; Or any other theme */
@import 'prismjs/themes/prism-tomorrow.css'; /* Change theme as needed */


html, body {
  scroll-behavior: auto !important;
  scroll-snap-type: none !important;
}

/* Force page to start at top on load/reload */
body {
  scroll-behavior: auto !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Webkit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  display: none;
}

/* Scroll to top on page load */
html {
  scroll-padding-top: 0 !important;
  scroll-margin-top: 0 !important;
}




@layer base { 
  :root {
    --background: 240 15% 83%;
    --foreground: 240 14% 9%;
    --card: 240 10% 76%;
    --card-foreground: 240 3% 76%;
    --primary: 240 5.9% 95%;
    --primary-foreground:240 10% 9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --border: 341, 12%, 3%, 1;
    --input: 240 5.9% 90%;
  }
  .dark {
    --background: 0 0% 8%;
    --foreground: 240 9% 76%;
    --card: 240 4% 10%;
    --card-foreground: 240 3% 12%;
    --primary: 240 5.9% 95%;
    --primary-foreground: 240 5.9% 75%;
    --secondary: 240 5.7% 83%;
    --secondary-foreground: 0 0% 95%;
    --border: 240 3.7% 50%;
    --input: 240 3.7% 15.9%;
  }
} 

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


